
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  background-color: #F5F5F7;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --font-body: "Open Sans", sans-serif!important;
  --font-header: "Poppins", sans-serif!important;
  --bg-color: #f5f5f7!important;
  --new-text-color: E5ECF6!important;
  --text-color: #333333!important;
  --blue-ghost: #e9ecf2!important;
  --semi-white: #aaaaaa!important;
  --grey: #777777!important;
  --accent: #cea716!important;
  --accent-const: #cea716!important;
  --header-bg: #043180!important;
  --header-title: #fff!important;
  --header: #053ea1!important;
  --primary: #043180!important;
  --balloon-border-radius: 2px!important;
  --balloon-color: rgba(16, 16, 16, 0.95)!important;
  --balloon-text-color: #fff!important;
  --balloon-font-size: 12px!important;
  --balloon-move: 4px!important;
  /* Custom Colors */
  --top-header: #043180;
}
[data-theme="dark"] {
  --bg-color: #121212!important;
  --text-color: #e0e0e0!important;
  --blue-ghost: #1e1e1e!important;
  --semi-white: #888!important;
  --accent: #292929!important;
  --header-bg: #090909!important;
  --header-title: #aaaaaa!important;
  --header: #888!important;
  --border: #333!important;
  /* Custom Colors */
  --top-header: #000;
}

body {
  background-color: var(--bg-color);
}
.MuiDataGrid-columnHeadersInner  , .MuiDataGrid-columnHeaderCheckbox {
  background-color: var(--header-bg)!important;
}
.MuiDialogContent-root {
  overflow-x: hidden;
}

.MuiTableCell-head:last-child , .MuiDataGrid-columnHeader:last-child {
  border-radius: 0 5px 5px 0;
}

.MuiTableCell-head:first-child , .MuiDataGrid-columnHeader:first-child {
  border-radius: 5px 0 0 5px;
}
.MuiDataGrid-columnHeadersInner, .MuiDataGrid-columnHeaderCheckbox {
  border-radius: 5px;
}

.MuiDataGrid-root {
  border: 1px solid #043386;
  border-radius: 5px;
}


.noBorder .Mui-focused:after , .noBorder .Mui-focused:before {
  border-bottom: none;
}

.noBorder .MuiInputLabel-root {
  top: -20px;
  color: #043386!important;
  font-weight: 500;
  font-size: 20px;
}

.noBorder .MuiInput-root {
  margin-top: 5px;
  padding-left: 10px;
}


input:-webkit-autofill {
  -webkit-background-clip: text;
  margin-left: 10px;
}

.dashTable .MuiTableRow-root:nth-child(odd){
  background-color: #E5ECF6;
}

[data-theme=dark] .dashTable .MuiTableRow-root:nth-child(odd) {
  background-color: #1E1E1E;
}

[data-theme=dark] .dashTable .MuiTableRow-root:nth-child(even) {
  background-color: transparent;
}
[data-theme=dark] .MuiTableRow-head {
  background-color: transparent;
}
[data-theme=dark] .MuiTableCell-body {
  border-bottom: none;
}
.dashTable .MuiTableRow-head {
  background-color: transparent!important;
}
.noOutline .MuiOutlinedInput-notchedOutline {
  border: none;
}

.MuiButtonGroup-root.MuiButtonGroup-contained + div {
  z-index: 100000;
}

.fullWidthBadge .MuiBadge-root{
  width: 100%;
}