
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  background-color: #F5F5F7;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --font-body: "Open Sans", sans-serif!important;
  --font-header: "Poppins", sans-serif!important;
  --font-mont: "Montserrat", sans-serif!important;
  --bg-color: #f5f5f7!important;
  --new-text-color: E5ECF6!important;
  --text-color: #333333!important;
  --blue-ghost: #E5ECF6!important;
  --semi-white: #aaaaaa!important;
  --grey: #777777!important;
  --accent: #cea716!important;
  --accent-const: #cea716!important;
  --header-bg: #043180!important;
  --header-title: #fff!important;
  --header: #053ea1!important;
  --primary: #043180!important;
  --balloon-border-radius: 2px!important;
  --balloon-color: rgba(16, 16, 16, 0.95)!important;
  --balloon-text-color: #fff!important;
  --balloon-font-size: 12px!important;
  --balloon-move: 4px!important;
  /* Custom Colors */
  --top-header: #043180;
}
[data-theme="dark"] {
  --bg-color: #121212!important;
  --text-color: #e0e0e0!important;
  --blue-ghost: #1e1e1e!important;
  --semi-white: #888!important;
  --accent: #292929!important;
  --header-bg: #090909!important;
  --header-title: #aaaaaa!important;
  --header: #888!important;
  --border: #333!important;
  /* Custom Colors */
  --top-header: #000;
}

body {
  background-color: var(--bg-color);
}
.MuiDataGrid-columnHeadersInner  , .MuiDataGrid-columnHeaderCheckbox {
  background-color: var(--header-bg)!important;
}
.MuiDialogContent-root {
  overflow-x: hidden;
}

.MuiTableCell-head:last-child , .MuiDataGrid-columnHeader:last-child {
  border-radius: 0 5px 5px 0;
}

.MuiTableCell-head:first-child , .MuiDataGrid-columnHeader:first-child {
  border-radius: 5px 0 0 5px;
}
.MuiDataGrid-columnHeadersInner, .MuiDataGrid-columnHeaderCheckbox {
  border-radius: 5px;
}

.MuiDataGrid-root {
  border: 1px solid #043386;
  border-radius: 5px;
}


.noBorder .Mui-focused:after , .noBorder .Mui-focused:before {
  border-bottom: none;
}

.noBorder .MuiInputLabel-root {
  top: -20px;
  color: #043386!important;
  font-weight: 500;
  font-size: 20px;
  font-family: var(--font-body);
}

[data-theme=dark] .noBorder .MuiInputLabel-root {
  color: #fff!important;
}

.noBorder .MuiInput-root {
  margin-top: 5px;
  padding-left: 10px;
}


input:-webkit-autofill {
  -webkit-background-clip: text;
  margin-left: 10px;
}

.dashTable .MuiTableRow-root:nth-child(odd){
  background-color: #E5ECF6;
}

[data-theme=dark] .dashTable .MuiTableRow-root:nth-child(odd) {
  background-color: #1E1E1E;
}

[data-theme=dark] .dashTable .MuiTableRow-root:nth-child(even) {
  background-color: transparent;
}
[data-theme=dark] .MuiTableRow-head {
  background-color: transparent;
}

[data-theme=dark] .dashTable .MuiTableHead-root .MuiTableCell-root {
  color: #fff!important;
}
[data-theme=dark] .dashTable .MuiTableHead-root {
  background-color: var(--primary) !important;
}

[data-theme=dark] .MuiTableCell-body {
  border-bottom: none;
}
.dashTable .MuiTableRow-head {
  background-color: transparent!important;
}
.noOutline .MuiOutlinedInput-notchedOutline {
  border: none;
}

.MuiButtonGroup-root.MuiButtonGroup-contained + div {
  z-index: 100000;
}

.fullWidthBadge .MuiBadge-root{
  width: 100%;
}

[data-theme=dark] .calculator legend span {
  color: #fff!important;
}

[data-theme=dark] .tableContainer .MuiTableRow-root:nth-child(even) , [data-theme=dark] .MuiDataGrid-row:nth-child(even) {
  background-color: #111111;
}

[data-theme=light] .tableContainer .MuiTableRow-root:nth-child(odd) , [data-theme=light] .MuiDataGrid-row:nth-child(odd) {
  background-color: #fff;
}

[data-theme=light] .tableContainer .MuiTableRow-root:nth-child(even) , [data-theme=light] .MuiDataGrid-row:nth-child(even) {
  background-color: var(--blue-ghost);
}

[data-theme=dark] .tableContainer .MuiTableRow-root .MuiTableCell-body , [data-theme=dark] .MuiDataGrid-row .MuiDataGrid-cell {
  color: #fff;
}

.tableContainer .MuiDataGrid-row .MuiDataGrid-cell {
  border-right: 1px solid #8F9CB3;
  border-bottom: 1px solid #8F9CB3;
}

.tableContainer .MuiDataGrid-row .MuiDataGrid-cell:last-child {
  border-right: none;
}

.tableContainer .MuiDataGrid-columnHeader {
  border-right: 1px solid #8F9CB3;
}

.tableContainer .MuiDataGrid-columnHeader:last-child {
  border-right: none;
}

.tableContainer .MuiDataGrid-columnSeparator  {
  display: none!important;
}


[data-theme=dark] .tableContainer .MuiTableRow-root .MuiTableCell-head {
  background-color: var(--primary);
  border: none;
}
[data-theme=dark] .tableContainer {
  border: none!important;
}

  .calculator .MuiTextField-root ,  .calculator .MuiFormControl-root   {
  margin-bottom: 30px;
}

.calculator .MuiInputLabel-root {
  top: -12px;
  left: -12px;
  font-weight: bold;
  font-size: 20px;
  color: #043180;
  font-family: var(--font-body);
}
[data-theme=dark] .calculator .MuiInputLabel-root {
  color: #fff;
}

.MuiDataGrid-columnHeaderTitleContainer .MuiCheckbox-root .MuiSvgIcon-root  , [data-theme=dark] .MuiDataGrid-root .MuiCheckbox-root .MuiSvgIcon-root  {
  fill: #fff;
}

.MuiDataGrid-columnHeadersInner , .MuiDataGrid-columnHeaderDraggableContainer {
  background-color: #043180!important;
}

[data-theme=dark] .MuiTablePagination-root  {
  color: #fff;
}
[data-theme=dark] .MuiDataGrid-root {
  border: none!important;
}

[data-theme=dark] .MuiButtonBase-root.Mui-disabled {
  color: rgba(255, 255, 255, 0.26) !important;
}

[data-theme=dark] .MuiDataGrid-menu .MuiPaper-root .MuiList-root .Mui-disabled {
  color: #000!important;
}

[data-theme=dark] .notifications .MuiFormControlLabel-label ,[data-theme=dark] .notifications  .MuiOutlinedInput-input {
  color: #fff;
}

[data-theme=dark] .notifications  .unit {
  color: #fff;
  font-weight: bold;
}

[data-theme=dark] .darkText {
  color: #fff;
}

.customHeader,.customBody {
  padding-left: 25px!important;
  padding-right: 25px!important;
}
@media (max-width: 800px){
  .customHeader,.customBody {
    padding-left: 15px!important;
    padding-right: 15px!important;
  }
}

.calcIcon {
  fill: #043386!important;
}

[data-theme=dark] .calcIcon {
  fill:  #D4E2F4!important;
}

.MuiInputBase-adornedEnd  .MuiInput-underline::before {
  border: none!important;
}

.badgeBTN {
  padding-right: 25px;
}

.badgeContainer .MuiBadge-overlapRectangular {
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  right: 12px;
  top: 12px;
}

.MuiDataGrid-main  .MuiDataGrid-menuIcon .MuiSvgIcon-root , .MuiButtonBase-root[aria-label="Sort"] svg{
  fill: #fff;
}

 .MuiDataGrid-columnHeader .MuiDataGrid-menuIcon {
   visibility: visible!important;
   width: auto!important;
 }

.MuiDataGrid-columnHeader:not(.MuiDataGrid-columnHeader--sorted) .MuiDataGrid-sortIcon {
  opacity: 1!important;
}
.MuiDataGrid-columnHeader .MuiDataGrid-filterIcon {
  fill: #eee;
}

.MuiDataGrid-menu  .MuiList-root  .MuiMenuItem-root[data-value="asc"] {
  font-size: 0;
}
.MuiDataGrid-menu  .MuiList-root  .MuiMenuItem-root[data-value="asc"]::after {
  content: "Sort Z to A";
  font-size: 1rem;
}
.MuiDataGrid-menu  .MuiList-root  .MuiMenuItem-root[data-value="desc"] {
  font-size: 0;
}

.MuiDataGrid-menu  .MuiList-root  .MuiMenuItem-root[data-value="desc"]::after {
  content: "Sort A to Z";
  font-size: 1rem;
}

.groupFilter .MuiSvgIcon-root , .currencySelect .MuiSvgIcon-root{
  background-color: #043180;
  color: #fff;
  height: 100%;
  top: 0;
  right: 0;
  width: 1.2em;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.currencySelect .MuiSvgIcon-root {
  width: 67px;
}

.groupFilter .MuiSvgIcon-root.MuiSelect-iconOpen , .currencySelect .MuiSvgIcon-root.MuiSelect-iconOpen {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
}

#demo-simple-select {
  padding-left: 45px;
  padding-bottom: 12px;
  padding-top: 12px;
  height: 25px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#demo-simple-select img {
  position: absolute;
  left: 10px;
  top: -2px;
  bottom: 0;
  margin: auto;
}
#demo-simple-select .fullName {
  display: none;
}
.MuiList-root .fullName {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #8b8989;
}
:not(#demo-simple-select) img.iconDropdown {
  width: 30px;
  height: 30px;
}
.MuiDataGrid-columnHeader:hover .MuiDataGrid-iconButtonContainer {
  visibility: visible;
  width: auto;
}

.MuiDataGrid-columnHeader .MuiDataGrid-columnHeaderTitleContainer [aria-label="Show filters"] {
  visibility: visible!important;
}


.authInput .MuiInput-root {
  background-color: #F5F5F7;
  box-shadow: inset 0px 1px 10px rgba(0, 0, 0, 0.25);
  margin-top: 20px!important;
  border-radius: 5px;
}



.new-noBorder .Mui-focused:after , .new-noBorder .Mui-focused:before {
  border-bottom: none;
}

.new-noBorder .MuiInputLabel-root {
  color: #043386!important;
  font-weight: 500;
  font-size: 20px;
  font-family: var(--font-body);
}

[data-theme=dark] .new-noBorder .MuiInputLabel-root {
  color: #fff!important;
}

.new-noBorder .MuiInput-root {
  margin-top: 5px;
  padding-left: 10px;
}

[data-id=fields] .customBody {
  padding-top: 0;
}

.fields .customBody {
  padding-bottom: 0!important;
}

.customStep .MuiMobileStepper-dot  {
  width: 30px;
  height: 6px;
  border-radius: 0;
  margin: 0 4px;
  cursor: pointer;
}

.workersTable .MuiDataGrid-columnHeader:last-child ,.workersTable [data-field="__HIDDEN__"] , .workersTable .MuiDataGrid-cell:last-child   {
  display: none;
}


.MuiDataGrid-row:nth-child(1) .MuiDataGrid-cellCheckbox svg  {
  fill: #673AB7!important;
}

.MuiDataGrid-row:nth-child(2) .MuiDataGrid-cellCheckbox svg  {
  fill: #00BCD4!important;
}

.MuiDataGrid-row:nth-child(3) .MuiDataGrid-cellCheckbox svg  {
  fill: #F44336!important;
}

.MuiDataGrid-row:nth-child(4) .MuiDataGrid-cellCheckbox svg  {
  fill: #8BC34A!important;
}

.MuiDataGrid-row:nth-child(5) .MuiDataGrid-cellCheckbox svg  {
  fill: #FF9800!important;
}

.customStep {
  min-height: 390px;
}

.MuiMobileStepper-root {
  position: absolute;
  width: 94%;
  bottom: 2%;
  left: 0;
  right: 0;
  margin: auto;
}

.hashrateSelect svg[data-testid="ArrowDropDownIcon"]{
  right: -10px;
}

.hashrateSelect .MuiSelect-select{
  padding-right: 8px!important;
}

#groupSelect {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (max-width:1200px){
  .fields:last-child {
    margin-top: 20px;
  }
}

.headerAppbar {
  position: -webkit-sticky!important;
  position: sticky!important;
}


label.customCheck {
  font-family: "Montserrat", sans-serif;
  font-size: .65rem;
  cursor: pointer;
  display: inline-block;
  margin: 1em;
}
label.customCheck > input {
  display: none;
}
label.customCheck span {
  color: #6A759B;
  position: relative;
  left: 5px;
}
label.customCheck i {
  display: inline-block;
  width: 42px;
  height: 25px;
  border-radius: 20px;
  vertical-align: middle;
  transition: 0.25s 0.09s;
  position: relative;
  background: #deeff7;
}
label.customCheck i:after {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  top: 3px;
  left: 0;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.4);
  transition: 0.15s;
}
label.customCheck > input:checked + i {
  background: var(--primary);
}
label.customCheck > input:checked + i + span {
  color: var(--primary);
}
label.customCheck > input:checked + i:after {
  transform: translateX(20px);
}