body {
  margin: 0;
  padding: 0;
}

:root {
  --font-body: "Open Sans", sans-serif;
  --font-header: "Poppins", sans-serif;
  --bg-color: #f5f5f7;
  --text-color: #333333;
  --blue-ghost: #e9ecf2;
  --semi-white: #aaaaaa;
  --grey: #777777;
  --accent: #cea716;
  --header-bg: #043180;
  --header-title: #fff;
  --header: #053ea1;
  --balloon-border-radius: 2px;
  --balloon-color: rgba(16, 16, 16, 0.95);
  --balloon-text-color: #fff;
  --balloon-font-size: 12px;
  --balloon-move: 4px;
}