/* Top Header */
.topHeader {
    background-color: #043180;
    border-bottom: 3px solid var(--accent);
    width: 100%;
}

.themeMode {
    color: #fff;
    opacity: 0.6;
    transition: all ease-in 200ms;
}
.themeMode:hover , .topHeaderLinks:hover{
    opacity: 1;
}

.themeMode.active {
    opacity: 1;
}

.topHeaderLinks {
    color: #fff;
    text-decoration: none;
    opacity: 0.6;
    transition: all ease-in 200ms;
}

/* Navigation */
.navLink {
    color: var(--text-color);
    font-family: var(--font-body);
    transition: all ease-in 200ms;
}

.navLink:hover {
    color: var(--accent);
}