/* Top Header */
.topHeader {
    background-color: var(--header-bg);
    border-bottom: 3px solid var(--accent);
    width: 100%;
}

.themeMode {
    color: #fff;
    opacity: 0.6;
    transition: all ease-in 200ms;
}
.themeMode:hover , .topHeaderLinks:hover{
    opacity: 1;
}

.themeMode.active {
    opacity: 1;
}

.topHeaderLinks {
    color: #fff;
    text-decoration: none;
    opacity: 0.6;
    transition: all ease-in 200ms;
}

/* Header & Navigation */
.navLink {
    color: var(--text-color);
    font-family: var(--font-body);
    transition: all ease-in 200ms;
}

.navLink:hover {
    color: var(--accent-const);
}

.header {
    background-color: var(--bg-color);
}

/* Page Title */
.pageTitle {
    background-color: #043180;
    width: 100%;
    padding: 7px 0;
}
.title {
    color: #fff;
    font-size: 24px;
}
